.logo {
  width: 10rem;
  height: 3rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.nav-list > li:hover {
  cursor: pointer;
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  nav > :nth-child(2) {
    position: fixed;
    right: 1rem;
    z-index: 99;
  }

  .nav-list {
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }
}
